In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from config import key
from sqlalchemy import create_engine

In [2]:
csv_file = "../Raw_Data/Kaggle/human_development.csv"
df = pd.read_csv(csv_file)
df.head()

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,GNI per Capita Rank Minus HDI Rank
0,1.0,Norway,0.944,81.6,17.5,12.6,"64,992",5.0
1,2.0,Australia,0.935,82.4,20.2,13.0,"42,261",17.0
2,3.0,Switzerland,0.930,83.0,15.8,12.8,"56,431",6.0
3,4.0,Denmark,0.923,80.2,18.7,12.7,"44,025",11.0
4,5.0,Netherlands,0.922,81.6,17.9,11.9,"45,435",9.0

In [4]:
hdi_df = df.iloc[:,:3]
hdi_df.head()

   HDI Rank      Country  Human Development Index (HDI)
0       1.0       Norway                          0.944
1       2.0    Australia                          0.935
2       3.0  Switzerland                          0.930
3       4.0      Denmark                          0.923
4       5.0  Netherlands                          0.922

In [5]:
rds_connection_string = (f"root:{key}@127.0.0.1/mortality")
engine = create_engine(f'mysql://{rds_connection_string}')

In [6]:
engine.table_names()

[]

In [8]:
hdi_df.to_sql(name='hdi', con=engine, if_exists='append', index=True)